<div class="userName">
  <div class="container">
  
     
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
        <div class="row">
          <div class="col-12" style="text-align: center;">
      
            <h5>Welcome Back!</h5>
            <h2 class="form-signin-heading">Sign In</h2> 
          <label for="inputEmail" class="sr-only">Username&nbsp;</label> 
          <input type="text" id="username" class="form-control" [(ngModel)]="userName"
         placeholder="Username" required autofocus>
        <br/>
          <label for="inputPassword" class="forms">Password&nbsp;</label>
          <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password"
        placeholder="Password" required> 
        <p>

        </p>
        <button class="button" type="submit"  (click)="onClickSubmit()">Sign in</button>
        <br>
        <a class="nav-link" (click)="onClickPopup()">Forgot Password</a>

        </div>
        
          </div>
        </div>
        </div>
      </div>
    </div>
   </div>
  