<p>view-family works!</p>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">View Family Page</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column">

        <mat-form-field appearance="fill">
            <mat-label>Family</mat-label>
            <mat-select [(ngModel)]="viewFamily" name="family">
              <mat-option value="Franklin">John Franklin</mat-option>
              <mat-option value="Saunders">Michel Saunders</mat-option>
              <mat-option value="Jones">Curtis Jones</mat-option>
              <mat-option value="Glaser">Nick Glaser</mat-option>
              <mat-option value="Bilzerian">Dan Bilzerian</mat-option>
            </mat-select>        
          </mat-form-field>
        
        <br/>
        <button mat-raised-button (click)="goToPage('family')">Back</button>


        
   
