<p>family works!</p>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Family Page</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="First Name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name">
        </mat-form-field>
      
       <button mat-raised-button (click)="goToPage('home')">Enter</button>
      </form>
    </mat-card>
  </div>