
<div class="container"> 
  <div class="row"> 
     <div class="col-lg-12 text-center" style="padding-top: 20px;"> 
        <div class="container" style="padding-left: 0px; padding-right: 0px;"> 
           <div class="row"> 
           <div class="col-sm" style="text-align: left;"> {{ title }} 
           </div>
        </div> 
     </div> 
  </div> 
</div> 

<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
     <li class="nav-item">
                 <div *ngIf="isUserLoggedIn; else isLogOut">
                       <a class="nav-link" routerLink="/logout">Logout</a>
                 </div>

                 <ng-template #isLogOut>
                             <a class="nav-link" routerLink="/login">Login</a>
                 </ng-template>
     </li>
  </ul>
</div>
<router-outlet></router-outlet>
