<p>income works!</p>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Income Page</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column">
        
        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Family</mat-label>
          <mat-select>
            <mat-option value="one">Jones</mat-option>
            <mat-option value="two">Franklin</mat-option>
            <mat-option value="three">Saunders</mat-option>
              <input [(ngModel)]="family" name="family" value="family" matInput placeholder="Davis">
          </mat-select>        
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" >
          <mat-label>Amount</mat-label> 
            <input [(ngModel)]="amount" name="amount" value="amount" matInput placeholder="00.00" >
        </mat-form-field>
        
        
        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input [(ngModel)]="date" name="date" value="dare" matInput placeholder="mm/dd/yyyy" >
        </mat-form-field>

        <br/>
        <button mat-raised-button (click)="displayInfo()">Enter</button>
        <button mat-raised-button (click)="goToPage('home')">Back</button>
        <br/>
        <mat-list>
          <mat-list-item>{{amount}} </mat-list-item>
          <mat-list-item> {{family}} </mat-list-item>
          <mat-list-item> {{date}} </mat-list-item>
         </mat-list>
      </form>
    </mat-card>
  </div>