<p>income works!</p>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Income Page</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column">
        
        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Family</mat-label>
          <mat-select [(ngModel)]="family" name="family">
            <mat-option value="Franklin">Franklin</mat-option>
            <mat-option value="Saunders">Saunders</mat-option>
            <mat-option value="Jones">Jones</mat-option>
            <mat-option value="Glaser">Glaser</mat-option>
            <mat-option value="Bilzerian">Bilzerian</mat-option>
          </mat-select>        
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" >
          <mat-label>Amount</mat-label> 
            <input [(ngModel)]="amount" name="amount" value="amount" matInput placeholder="00.00" >
        </mat-form-field>
        
        
        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input [(ngModel)]="date" name="date" value="dare" matInput placeholder="mm/dd/yyyy" >
        </mat-form-field>

        <br/>
        <button mat-raised-button (click)="addEntry()">Enter</button>
        <button mat-raised-button (click)="goToPage('home')">Back</button>
        <br/>

      </form>
    </mat-card>
    <h3 class="p-3 text-center">Angular - Display a list of Income with ngFor</h3>
<div class="container box" style="marign-top:10px;">
    <table class="table table-striped">
          <thead>
            <tr>
                <th>Family</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
          </thead>
        <tbody>
            <tr *ngFor="let entry of Incomes">
              <th scope="row"></th>
                <td>{{entry.family}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.date}}</td>
            </tr>
        </tbody>
    </table>
  </div>