<p>income works!</p>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Income Page</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column">

        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Family</mat-label>
          <mat-select [(ngModel)]="family" name="family">
            <mat-option *ngFor="let entry of Families" [value]="entry.familyName">{{ entry.familyName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" >
          <mat-label>Amount</mat-label>
            <input [(ngModel)]="amount" name="amount" value="amount" matInput placeholder="$00.00" >
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [(ngModel)]="date" name="date" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br/>
        <button mat-raised-button (click)="[addEntry(), createNewIncome()]">Enter</button>
        <button mat-raised-button (click)="goToPage('home')">Back</button>
        <button mat-raised-button (click)="goToPage('view-income')">View Income</button>

        <br/>

      </form>
    </mat-card>
    <h3 class="p-3 text-center"></h3>
<div class="container box" style="margin-top:10px;">
    <table class="table table-striped">
          <thead>
            <tr>
              <td style="text-align: center"></td>
                <th>Family</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
          </thead>
        <tbody>
            <ng-container *ngFor="let entry of Incomes">
              <tr *ngIf="!entry.isEditing">
              <th scope="row"></th>
                <td>{{entry.family}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.Date | date: "MM/dd/yyyy"}}</td>
                <button (click)="toggleEditEntry(entry)">Edit</button>
                <button (click)="deleteEntry(entry)">Delete</button>
            </tr>
            <tr *ngIf="entry.isEditing">
              <th scope="row"></th>
              <td><input [(ngModel)]="entry.family" name="family"></td>
              <td><input [(ngModel)]="entry.amount" name="amount"></td>
              <td><input matInput [(ngModel)]="entry.Date" name="date" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker></td>
              <button (click)="[toggleEditEntry(entry), getIncomes()]">Cancel</button>
              <button (click)="updateEntry(entry)">Save</button>
            </tr>
          </ng-container>
        </tbody>
    </table>
  </div>
