<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Home Page</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column">
        
       <button mat-raised-button (click)="goToPage('income')">Income</button>
       <button mat-raised-button (click)="goToPage('expense')">Expense</button>
       <button mat-raised-button (click)="goToPage('family')">Family</button>
       <button mat-raised-button (click)="goToPage('export')">Export</button>
       <button mat-raised-button (click)="goToPage('login')">Logout</button>

      </form>
    </mat-card>
  </div>

