<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <mat-toolbar color="primary">Expense Page</mat-toolbar>
      <form fxLayoutAlign= "stretch" fxLayout="column">

        <br/>

        <mat-form-field appearance="fill">
          <mat-label>Expense Type</mat-label>
          <mat-select [(ngModel)]="type" name="type">
            <mat-option value="Classroom supplies">Classroom supplies</mat-option>
            <mat-option value="Food">Food</mat-option>
            <mat-option value="Utilities">Utilities</mat-option>
            <mat-option value="Outdoor Equipment">Outdoor Equipment</mat-option>
            <mat-option value="Office Supplies">Office Supplies</mat-option>
            <mat-option value="Building">Building</mat-option>
            <mat-option value="Toys">Toys</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" >
          <mat-label>Amount</mat-label>
            <input [(ngModel)]="amount" name="amount" value="amount" matInput placeholder="000" >
        </mat-form-field>


        <br/>

       
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [(ngModel)]="date" name="date" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br/>

        <mat-form-field appearance="fill" >
         <mat-label>Description</mat-label>
           <input [(ngModel)]="description" name="description" value="description" matInput placeholder="Ex. Groceries from Schnucks" >
       </mat-form-field>

        <br/>
        <button mat-raised-button (click)="[addEntry(), createNewExpense()]">Enter</button>
        <button mat-raised-button (click)="goToPage('home')">Back</button>
        <button mat-raised-button (click)="goToPage('view-income')">View Expenses</button>
        <br/>


      </form>
    </mat-card>
    <h3 class="p-3 text-center"></h3>
    <div class="container box" style="margin-top:10px;">
        <table class="table table-striped">
              <thead>
                <tr>
                  <td style="text-align:center"></td>
                    <th>Expense</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
              </thead>
            <tbody>
                <ng-container *ngFor="let entry of Expenses ">
                  <tr *ngIf="!entry.isEditing">
                    <th scope="row"></th>
                    <td>{{entry.type}}</td>
                    <td>{{entry.amount}}</td>
                    <td>{{entry.Date | date: "MM/dd/yy"}}</td>
                    <td>{{entry.description}}</td>
                    <button (click)="toggleEditEntry(entry)">Edit</button>
                    <button (click)="deleteEntry(entry)">Delete</button>
                </tr>
                <tr *ngIf="entry.isEditing">
                  <th scope="row"></th>
                  <td><input [(ngModel)]="entry.type" name="type"></td>
                  <td><input [(ngModel)]="entry.amount" name="amount"></td>
                  <td><input matInput [(ngModel)]="entry.Date" name="date" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker></td>
                  <td><input [(ngModel)]="entry.description" name="description"></td>
                  <button (click)="[toggleEditEntry(entry), getExpenses()]">Cancel</button>
                  <button (click)="updateEntry(entry)">Save</button>
                </tr>
              </ng-container>
            </tbody>
        </table>
      </div>

